.mainstatus {
    padding-top: 15px;
    font-size: 140px;
}

.substatus {
    padding-top: 5px;
    font-size: 40px;
    font-weight: normal;
}

.credits {
    font-size: 12px;
}

a {
    color: black;
}